<div id="about-me" class="aboutMe-picture">
  <div class="about-me">
    <h2>About me</h2>
    <p class="message">
      Hi, I'm a passionate frontend developer from Karlsruhe, Germany, who
      speaks fluent German and French and understands English well. Driven by
      the boundless creativity and endless possibilities of IT, I specialise in
      creating visually appealing and intuitive websites and applications.
    </p>
    <div class="location">
      <div><img src="./assets/img/location.png" alt="" /></div>
      <p>
        Whether onsite or remote, I am flexible and adaptable, and enjoy working
        in different environments, be it in Karlsruhe, Munich or worldwide.
      </p>
    </div>
    <div class="bulb">
      <div><img src="./assets/img/bulbdesktop.png" alt="" /></div>
      <p>
        I am open to new challenges and always looking for ways to continuously
        expand my knowledge and skills.
      </p>
    </div>
    <div class="vector">
      <!--  <div><img src="./assets/img/location.png" alt="" /></div> -->
      <img src="./assets/img/vector.png" alt="" />
      <p>
        For me, programming is much more than just writing code. It is a
        creative art where I transform complex technical problems into simple
        and user-friendly solutions. My goal is to create not only functional
        but also aesthetically compelling results that enable my clients to
        realise their visions.
      </p>
    </div>
  </div>

  <div class="about-pic">
    <img class="about-me-pic" src="./assets/img/moi2.jpeg" alt="" />
    <div class="line-pic"></div>
  </div>
</div>
