

.header-menu {
/*--------------------------------------------  */

position: fixed;
top: 0;
width: 1440px; 
width: 94.9%;
/* width: 100%;
max-width: 1500px;
padding: 0 5%; */
height: 109.03px; 
padding: 37px 0px 37px 100px;
gap: 0px; /* Gap */
opacity: 1; /* Set opacity to 1 for visibility */
display: flex; /* Flexbox layout */
justify-content: space-between; /* Space between items */
align-items: center; /* Center items vertically */
background-color: rgba(20, 29, 47, 1);
//background-color: rgba(255, 255, 255, 1);
z-index: 1000; /* Über andere Inhalte legen */
//border: 2px solid rgba(255, 255, 255, 1);
//display: none;

//backdrop-filter: blur(65px);




> img {
    width: 150px; /* Width of the image */
    min-height: 35.03px; /* Minimum height of the image */
}

.menu{
display: flex;
align-items: center;
padding: 37px 100px;



> button {
    width: 114px;
    height: 32px;
    color: white;
    background-color: rgba(20, 29, 47, 1);
    //border: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400px;
    line-height: 27.6px;
    margin-right: 16px;
   
    &:hover{
        color: rgba(112, 230, 28, 1);
        background: rgb(179, 149, 220);
    }
}
}
.burger-menu {
    display: none;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
    }
  }
  
}
.mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 109px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  
    &.active {
      display: block;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    
      width: 124px;
      height: 215px;
      margin-top: 290px;
      margin-left: 138px;
      gap: 29px;
  
      button {
        width: 80%;
        margin-bottom: 15px;
        padding: 10px;
        background-color: rgba(20, 29, 47, 1);
        color: white;
        border: none;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: center;
  
        &:hover {
          background-color: rgb(179, 149, 220);
          color: rgba(112, 230, 28, 1);
        }
      }
    }
  }

/* ------------------------------ */






/* ----------------------------------responsive */


 @media (max-width: 779px) {
    .header-menu {
       
        padding: 37px 25px 37px 25px;

        > img {
            width: 139.51px; /* Width of the image */
            min-height: 27.9px; /* Minimum height of the image */
        }
        .menu{
            padding: 37px 25px 37px 25px;
            >  button {
                width: 114px;
                height: 32px;
            }
        }
    
    }
   
}

/* Responsive Styles */
@media (max-width: 590px) {
    .header-menu {
      .menu {
        display: none;
      }
      .burger-menu {
        display: block;
        padding-right: 25px;
      }
    }
  }


@media (max-width: 320px) {
    .mobile-menu {
        button{
            margin-right: 80px;
        }
    }
 
}







