<div class="header-menu">
  <img src="./assets/img/logo1.jpeg" alt="" />
  <div class="menu">
    <button
      [class.active]="activeSection === 'about-me'"
      (click)="scrollToSection('about-me')"
    >
      About me
    </button>
    <button
      [class.active]="activeSection === 'my-skills'"
      (click)="scrollToSection('my-skills')"
    >
      Skills
    </button>
    <button
      [class.active]="activeSection === 'my-portfolio'"
      (click)="scrollToSection('my-portfolio')"
    >
      Portfolio
    </button>
  </div>
  <div class="burger-menu" (click)="toggleMobileMenu()">
    <img src="./assets/img/burger-menu.png" alt="Menu" />
  </div>
</div>

<div class="mobile-menu-overlay" [class.active]="isMobileMenuOpen">
  <div class="mobile-menu">
    <button (click)="scrollToSection('about-me'); closeMobileMenu()">
      About me
    </button>
    <button (click)="scrollToSection('my-skills'); closeMobileMenu()">
      Skills
    </button>
    <button (click)="scrollToSection('my-portfolio'); closeMobileMenu()">
      Portfolio
    </button>
  </div>
</div>
