<div class="simple-crm">
  <img src="./assets/img/simplecrm.png" alt="" />
  <div class="simple-crm-info">
    <h3>Simple CRM</h3>
    <h4>Angular | Firebase</h4>
    <p>
      A very Simple Customer Relationship Management system working with CRUD
      functionality.
    </p>
    <div class="buttons">
      <button (click)="goToElpolloloco()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
</div>
