body { 
  margin: 0;
  //width: 1440px;
  //margin-left: 120px;
  //padding-left: 140px;

  background: rgba(20, 29, 47, 1);

  //border: 2px solid rgba(255, 255, 255, 1);
}

html, body { 
  //height: 6414px; 
  height: autopx; 
}
/* 
.big-bg {
  margin-top: 388px;
  background-image: url("./../public/assets/img/background-shapes.png");
  background-repeat: no-repeat;
  width: 2550.73px;
  height: 5710.77px;
  
} */
.big-bg {
  //margin-top: 388px;
  margin-top: 390px;
  background-image: url("./../public/assets/img/background-shapes.png");
  background-repeat: no-repeat;
  width: 2550.73px;
  height: 5710.77px;
  background-size: 99.9%; /* Bild um 150% vergrößern */
}
.big-bg2{
  margin-top: 859px;
  background-image: url("./../public/assets/img/shadows1.png");
  background-repeat: no-repeat; /* Sicherstellen, dass das Bild nicht wiederholt wird */
  width: 1205.31px; /* Breite anpassen */
  height: 7467px; /* Höhe automatisch anpassen */
  margin-left: -320px;
  background-size: 99.9%; 
  //background-color: rgba(255, 255, 255, 1);
  display: none;

}

.profile-pic {
  position: absolute;
  top: 221.62px;
  width: auto;
  height: 671.38px;
  left: 12px;
  background-image: url('./../public/assets/img/photo-shadows.png'), url('./../public/assets/img/green-shadow.png');
  background-position: center, right 50px center; 
  background-repeat: no-repeat, no-repeat;
  object-fit: none;
  //background-color: rgba(255, 255, 255, 1);
}

.profile-pic > img {
  width: 648px;
  height: 705px;
  //background-color: rgba(255, 255, 255, 1);
}
.profile-pic2 {
  position: absolute;
  top: 221.62px;
  width: auto;
  height: 671.38px;
  left: 12px;
  background-image: url('./../public/assets/img/purple-shadow.png'), url('./../public/assets/img/green-shadow.png');
  background-position: center, right 50px center; 
  background-repeat: no-repeat, no-repeat;
  object-fit: none;
  //background-color: rgba(255, 255, 255, 1);
}



/*--------------------------------responsive */
 @media (max-width: 1366px) {
  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top: 420px;
      background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 115%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1366px) {
  .ober{
    .big-bg {
      //margin-top: 488px;
      margin-top: 390px;
      background-image: url("./../public/assets/img/background-shapes.png");
      background-repeat: no-repeat;
      width: 2550.73px;
      height: 5710.77px;
      background-size: 110%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1240px) {
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 125%; /* Bild um 150% vergrößern */
    }
  }
} 
@media (max-width: 1090px) {
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 135%; /* Bild um 150% vergrößern */
   
     }
  }
} 
@media (max-width: 1010px) {
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 145%; /* Bild um 150% vergrößern */
   
    }
  }
} 
@media (max-width: 940px) {
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 155%; /* Bild um 150% vergrößern */
   
    }
  }
} 
@media (max-width: 880px) {
  .ober{
    .big-bg {
      margin-top: 390px;
      background-size: 175%; /* Bild um 150% vergrößern */
   
    }
  }
}

@media (max-width: 779px) {
  .ober {

    .big-bg {
     display: none;
    }
    .big-bg2 {
      display: block;
     }
  }
}



/* --------------reserve */
@media (max-width: 1669px){}
@media (max-width: 1438px){}
@media (max-width: 1350px){}
@media (max-width: 1090px){}
@media (max-width: 1060px){}
@media (max-width: 940px){}
@media (max-width: 880px){}
@media (max-width: 730px){}
@media (max-width: 590px){}
@media (max-width: 490px){}
@media (max-width: 388px){}
@media (max-width: 350px){}


