* {
    padding: 0;
    margin: 0;
    font-family: "bangers", sans-serif;
  }
.datenschutzerklärung {
  position: absolute;
  top: -20px;
 
  z-index: 1001;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    //background-image: url("img/5_background/layers/air.png");
    background-color: rgba(20, 29, 47, 1);
    //background-color: #fff;
   
  }
  .menu-bar {
    display: flex;
    flex: 1;
  }
  
  body {
    display: block;
    margin: 0;
  }
  
  img {
    height: 100px;
    margin: 10px;
    display: flex;
    padding-left: 5px;
  }
  
  .menu {
    display: flex;
    flex: 1;
    margin-right: 20px;
    margin-top: 30px;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  .menu a {
    padding: 10px 14px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  .menu a:hover {
    background-color: #f1f1f1;
  }
  
  .active {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .impressum {
    height: 75vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .datenschutzerklärung h2 {
    text-align: center;
    margin: 75px 0;
  }
  
  .datenschutzerklärung {
    padding: 0 180px;
  }
  
  .align-center {
    text-align: center;
  }
  
  .datenschutzerklärung h1 {
    text-align: center;
    margin: 75px 0;
  }
  
  .datenschutzerklärung p {
    margin-bottom: 50px;
  }
  /*  */
  .logo-legal {
    display: flex;
    align-items: center;
  }
  
  .legal-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .legal-link {
    color: #fff; // oder die Farbe, die Sie bevorzugen
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #fff; // oder die Farbe, die Sie bevorzugen
    margin: 5px 0;
  }
  
  .git-mail-in a {
    text-decoration: none;
    margin: 0 10px;
  }


  
  /* ------------------- Media Queries ------------------ */
  
  @media (max-width: 455px) {
    .impressum p {
      text-align: center;
    }
  }
  @media (max-width: 1024px) {
    .datenschutzerklärung {
      padding: 0 90px;
    }
  }
  @media (max-width: 768px) {
    .datenschutzerklärung {
      padding: 0 45px;
    }
  }
  @media (max-width: 425px) {
    .datenschutzerklärung {
      padding: 0 22.5px;
    }
  
    .datenschutzerklärung h1 {
      font-size: 28px;
    }
  }
  
  @media (max-width: 375px) {
    .datenschutzerklärung {
      padding: 0 22.5px;
    }
  
    .datenschutzerklärung h1 {
      font-size: 26px;
    }
  }
  