<div class="el-pollo">
  <div class="el-pollo-info">
    <h3>El Pollo Loco</h3>
    <h4>JavaScript | HTML | CSS</h4>
    <p>
      A simple Jump-and-Run game based on an pbjrct-oriented approach. El Pollo
      Loco is a 2D action game in which a Mexican hero fights chicks, chickens
      and a giant chicken boss. Jump on chicks and chickens and throw Tabasco
      bottles at the boss to win. Beat the boss to emerge victorious!
    </p>
    <div class="buttons">
      <button (click)="goToElpolloloco()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
  <img src="./assets/img/polloloco.png" alt="" />
</div>
