<div class="join">
  <img src="./assets/img/join.png" alt="" />
  <div class="join-info">
    <h3>Join</h3>
    <h4>JavaScript | HTML | CSS</h4>
    <p>
      Task manager inspired by the kanban Systen. Create and organize tasks
      using drag and drop functions, assign users and categories.
    </p>
    <div class="buttons">
      <button (click)="goToJoin()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
</div>
