<div id="ober" class="ober">
  <div class="profile-pic">
    <img class="p-pic" src="./assets/img/mapubi.png" alt="" />
  </div>
  <div class="hero">
    <div class="iam-frontend">
      <h2 class="iam">i am</h2>
      <div class="name-beruf">
        <h1 class="name">Jean Pondy</h1>
        <p class="frontend">FRONTEND DEVELOPER</p>

        <button mat-fab extended class="btn-talk">Let´s talk</button>
      </div>
    </div>
  </div>
  <div class="big-bg"></div>
  <div class="references">
    <div class="references-line">
      <div class="line"></div>
      <img src="./assets/img/github.png" alt="" />
      <img src="./assets/img/email.png" alt="" />
      <img src="./assets/img/linkedin.png" alt="" />
      <div
        [class.active]="activeSection === 'about-me'"
        (click)="scrollToSection('contact')"
        class="mail"
      >
        mpondolpondy&#64;gmail.com
      </div>
    </div>
    <div class="scroll-down">Scroll down -></div>
  </div>
</div>
