
.hero{
    position: absolute;
    width: 1344px;
    height: 646px;
    top: 297px;
   
    //display: flex;

}


.iam-frontend{
   
    width: 718px;
    height: 172px;
    margin-left: 622px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items:start;
  
}

h1{
    color: white;
}
h2{
    color: white;
    font-size: 32px;
}

p{
    color: white;
    font-size: 32px;
}
.iam {
   
    transform: rotate(-90deg); /* Drehung um 90 Grad */
    height: 63px;
    font-weight: 400;
    font-size: 64px;
    width: 152px;
    line-height: 76.8px;
    margin-top: 48px;
  
}
.frontend{
   // font-family: Poppins;
   
    font-weight: 400;
    height: 70px;
    font-size: 44px;
    line-height: 69.6px;
    color: rgba(151, 71, 255, 1) ;
    line-height: 69.6px;
    margin-top: -48px;
}
.name-beruf{
    margin-left: -24px;
    height: 172px;
}

.name{
   
    height: 108px;
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
}
.ober{
    display: flex;
  
}

.btn-talk{
    width: 165px;
    height: 58px;
    justify-content: center;
    align-items: center;
   margin-left: 160px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    position: absolute;
    color: white;
 
    background: rgba(112, 230, 28, 1);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover{
        
        background: rgba(151, 71, 255, 1);
        scale: 1.2;

    }

}

.p-pic{
   
    margin-left: 80px;
    margin-top: -34px;
  

   
}

.references{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 566px;
    height: 40px;
    top: 903px;
   
    color: white;

    .references-line{
        display: flex;
        gap: 32px;
      
        
        >img{
            width: 30px;
            height: 30px;
            &:hover{
                scale: 1.2;
            }
        }
    }

    .line{
        margin-top: 12px;
        width: 100px;
        height: 0px;
        border-style: solid;
        color: rgba(151, 71, 255, 1);
    }

    .mail{
        font-family: Poppins;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    
    }
    .scroll-down{
        position: absolute;
        left: 1344px;
        width: 133px;
        height: 28px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 20px;
        line-height: 27.6px;
        color: rgba(255, 255, 255, 1);
        transform: rotate(90deg); 
        margin-top: -160px;
       
      
    }

    &:hover{
        cursor: pointer;
    }
}