<div id="my-portfolio" class="portfolio">
  <div class="title-line">
    <div class="line1"></div>
    <div class="title">
      <h2>Portfolio</h2>
      <div class="line2"></div>
    </div>
  </div>
  <div class="message">
    Explore a selection of my work here - Interact with projects to see my
    skills in action
  </div>
  <app-join></app-join>
  <app-el-pollo-loc></app-el-pollo-loc>
  <app-simple-crm></app-simple-crm>
  <app-pokedex></app-pokedex>
  <app-da-bubble></app-da-bubble>
</div>
