.portfolio{
    position: absolute;
    width: 1304px;
    height: 2216.57px;
    top: 2363px;
    left: 136px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    //display: none;

   
    

    .title-line{
        position: absolute;
        width: 1060px;
        height: 108px;
        left: 244px;
        gap: 32px;
        display: flex;
        justify-content:space-between;
        align-items: center;
       

        .line1{
            width: 100px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 507px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
        
    }

    .message{
        width: 733px;
        height: 19px;
        margin: 168px 0 0 217px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        display: flex;
        align-items: center;
        //border: 2px solid rgba(255, 255, 255, 1);
    }
}

/* ----------------------------responsive */

@media (max-width: 1669px){
    .portfolio{
        width: 1299px;
      
        //border: 2px solid rgb(48, 110, 225);
        .title-line{

            width: 1065px;
            height: 108px;
            left: 230px;
            //border: 2px solid rgba(255, 255, 255, 1);

            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                h2{
                    width: 389px;
                    height: 108px;
                    font-family: Poppins;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 108px;
            }
    
            }

        }

    }
}
@media (max-width: 1438px){
    .portfolio{
          width: 1225px;
        left: 96px;
        .title-line{

            width: 1060px;
            height: 108px;
            left: 160px;
           

            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                h2{
                    width: 389px;
                    height: 108px;
                    font-family: Poppins;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 108px;
            }
    
            }

        }

    }
}
@media (max-width: 1350px){
    .portfolio{
        width: 980px;
        left: 96px;
        top: 2363px;
        top: 2418px;//+55
         .title-line{

          width: 975px;
          height: 108px;
          left: 0px;

          .line1{
            width: 100px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 507px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
        
    

      }

  }
}
@media (max-width: 1098px){
    .portfolio{
        width: 880px;
        left: 96px;
        top: 2418px;//+55
        



         .title-line{

          width: 875px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 207px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
        
    

      }

  }
}
@media (max-width: 1060px){
    .portfolio{
      top: 2470px; //eingegeben
      top: 2525px;
     
      
        height: 2216.57px;
       // height: auto;
        width: 800px; 
        left: 96px;
         .title-line{

          width: 795px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 207px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
      
      }
      .message{
        width: 633px;
        margin-left: 144px;
    }

  }

}
@media (max-width: 980px){
    .portfolio{
      top: 2470px;
      top: 2490px;// +20px
        height: 3167.72px;
        width: 800px; 
        left: 96px;
         .title-line{

          width: 795px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 207px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
      
      }
      .message{
        width: 633px;
        margin-left: 144px;
    }

  }

}
@media (max-width: 940px){
    .portfolio{
      gap: 36px;
        height: 3167.72px;
        width: 740px;
      
        align-items: center;
     
         .title-line{

          width: 735px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 389px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
        }

        }
        .line2{

            width: 207px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
      
      }
      .message{
        width: 633px;
        margin-left: 96px;
    }

  }

}
@media (max-width: 880px){
    .portfolio{
        width: 600px;
        height: 3167.72px;
        align-items: center;
     
         .title-line{

          width: 595px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 350px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 60px;
                line-height: 108px;
               
        }

        }
        .line2{

            width: 154px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
          

        }
      
      }
      .message{
        width: 593px;
        margin-left: 96px;
        margin-left: -0px;
    }

  }

}
@media (max-width: 730px){
    .portfolio{
      gap: 40px;
      width: 460px;
      height: 3167.72px;
      align-items: center;
      top: 2470px; //gegebene wert
      
     
         .title-line{

          width: 455px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 48px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                width: 350px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 60px;
                line-height: 108px;
               
        }

        }
        .line2{

            width: 104px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            margin-left: -96px;
          

        }
      
      }
      .message{
        width: 454px;
        height: 59px;
        margin-left: 0px;
        margin-top: 120px;
    }

  }

}
@media (max-width: 590px){
    .portfolio{
        gap: 40px;
        width: 370px;
        height: 3167.72px;
        align-items: center;
     
         .title-line{

          width: 365px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 24px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            
            h2{
                width: 200px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 60px;
                line-height: 108px;
              
               
               
        }

        }
        .line2{

            width: 54px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            margin-left: 40px;
          

        }
      
      }
      .message{
        width: 364px;
        height: 59px;
        margin-left: 0px;
        margin-top: 120px;
    }

  }

}
@media (max-width: 490px){
    .portfolio{
        width: 363px;
        height: 3167.72px;
        align-items: center;
        left: 18px;
        top: 2470px; //gegebene wert
        gap: 40px;
       
      
     
         .title-line{

          width: 365px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 24px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            
            h2{
                width: 200px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 45px;
                line-height: 108px;
                margin-top: -32px;
              
               
               
        }

        }
        .line2{

            width: 54px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            margin-left: 40px;
          

        }
      
      }
      .message{
        width: 364px;
        height: 59px;
        margin-left: 0px;
        margin-top: 120px;
    }

  }

}
@media (max-width: 388px){
    .portfolio{
        width: 322px;
        height: 3167.72px;
        align-items: center;
        left: 10px;
        top: 2470px; //gegebene wert
        top: 2750px; //gegebene wert

      
     
         .title-line{

          width: 317px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 24px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            
            h2{
                width: 200px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 45px;
                line-height: 108px;
                margin-top: -32px;
              
               
               
        }

        }
        .line2{

            width: 54px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            margin-left: -10px;
          

        }
      
      }
      .message{
        width: 316px;
        height: 59px;
        margin-left: 0px;
        margin-top: 120px;
    }

  }

}
@media (max-width: 350px){
    .portfolio{
        width: 302px;
        height: 3167.72px;
        align-items: center;
        left: 0px;
        top: 2750px; //gegebene wert

      
     
         .title-line{

          width: 297px;
          height: 108px;
          left: 0px;

          .line1{
            width: 00px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            padding-left: 4px;
          
         }
           

        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            
            h2{
                width: 200px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 45px;
                line-height: 108px;
                margin-top: -32px;
              
               
               
        }

        }
        .line2{

            width: 54px;
            height: 0px;
            border-style: solid;
            color: rgba(151, 71, 255, 1);
            margin-top: -40px;
            margin-left: 0px;
          

        }
      
      }
      .message{
        width: 296px;
        height: 59px;
        margin-left: 0px;
        margin-top: 120px;
    }

  }

}


