.contact{
    position: absolute;
    top: 5288px;
    width: 1340px;
    height: 747px;
    display: flex;
    flex-direction: column;
    //border: 2px solid rgba(255, 255, 255, 1);
    //display: none;
    

    .line-title{
        width: 943px;
        height: 108px;
        gap: 32px;
        //border: 2px solid rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;

        .line{
            margin-top: -16px;
            width: 535px;
            height: 0px;
            border: 4px solid rgba(151, 71, 255, 1);
        }
    
            /* ----------------------------- */
            .title{
            
                h2{
                    display: flex;
                    align-items: center;
                width: 376px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 90px;
                line-height: 108px;
                color: rgba(255, 255, 255, 1);
                gap: 10px;
                //border: 2px solid rgba(255, 255, 255, 1);
                
            }

            /* ---------------------------------- */

        }
    }
    .info-contact-area{
        margin-top: 40px;
        height: 508px;
        //border: 4px solid rgba(255, 255, 255, 1);
       

        .info{
            margin-left: 100px;
            width: 474px;
            height: 154px;
            gap: 24px;
            //border: 4px solid rgba(255, 255, 255, 1);
            color: rgba(255, 255, 255, 1);
            //border: 2px solid rgba(255, 255, 255, 1);

            h3{
                width: 474px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
            }
            span{
                width: 474px;
                height: 57px;
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.2px;
            }
            p{
                margin-top: 32px;
                width: 474px;
                height: 19px;
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.2px;
            }

        }
        .contact-area{
            margin-left: 723px;
            margin-top: -168px;
            height: 508px;
            gap: 32px;
            //border: 4px solid rgb(222, 51, 156);
            /* Style inputs with type="text", select elements and textareas */
            input[type=text],[type=email], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid rgba(151, 71, 255, 1); /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */

            &:hover{
                border: 1px solid   rgba(112, 230, 28, 1); 
                cursor: pointer;
              
            }

        }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    margin-top: 40px;
    width: 253px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    background: rgba(182, 182, 182, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;

    &:hover{
        background: rgba(112, 230, 28, 1);
    }
   
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background: rgba(20, 29, 47, 0);
    padding: 20px;
  
  }
        }
    }


    .down-line{
        width: 24px;
        height: 24px;
        cursor: pointer;
      
        margin-top: 32px;
        margin-left: 1310px;
     
        font-size: 12px;
        >img{
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 2px solid  rgba(255, 255, 255, 1); 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 

            &:hover{
               
                border: 2px solid   rgba(112, 230, 28, 1); 
              
            }
        }
    }

}

input::placeholder,
textarea::placeholder {
  background: rgba(20, 29, 47, 1);
  color: rgba(255, 255, 255, 1);

}

/* Zusätzlich kannst du die Eingabefelder selbst anpassen, um den Hintergrund zu ändern */
input,
textarea {
  background: rgba(20, 29, 47, 1);
  color: rgba(255, 255, 255, 1);
  border: none; /* Optional: um die Rahmen zu entfernen */
  padding: 10px; /* Optional: um etwas Innenabstand zu schaffen */
  border-radius: 5px; /* Optional: um die Ecken abzurunden */
}

input:focus,
textarea:focus {
  outline: none; /* Entfernt den Standard-Fokusrahmen */
  border: 2px solid rgba(255, 255, 255, 1); /* Optional: Rahmen beim Fokus */
}


.privacy-policy-text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
  
    //border: 1px solid rgba(112, 230, 28, 1);
    //padding: 5px; /* Optional: Innenabstand für das Label */
   // display: inline-block; /* Damit der Border sichtbar ist */
  }
  
  .privacy-policy-link {
    color: rgba(151, 71, 255, 1);
    text-decoration: none; /* Optional: Unterstreichung entfernen */
  }
  
  .privacy-policy-link:hover {
    text-decoration: underline; /* Optional: Unterstreichung beim Hover hinzufügen */
  }

/* ---------------------------------- */
input[type="checkbox"] {
    appearance: none; /* Entfernt das Standard-Checkbox-Design */
    width: 20px; /* Breite der Checkbox */
    height: 20px; /* Höhe der Checkbox */
    border: 2px solid  rgba(112, 230, 28, 1); /* Border-Farbe */
    border-radius: 4px; /* Ecken abrunden */
    display: inline-block; /* Block-Layout */
    position: relative; /* Für das Pseudo-Element */
    cursor: pointer; /* Cursor ändern, wenn drauf geklickt wird */
  }
  
 
  
  input[type="checkbox"]:checked::after {
    content: ''; /* Leeres Pseudo-Element für das Häkchen */
    position: absolute; /* Positioniert es relativ zur Checkbox */
    top: 5px; /* Positioniert es innerhalb der Checkbox */
    left: 5px; /* Positioniert es innerhalb der Checkbox */
    width: 2px; /* Breite des Häkchens */
    height: 10px; /* Höhe des Häkchens */
    background-color:  rgba(112, 230, 28, 1); /* Häkchen-Farbe */
    transform: rotate(45deg); /* Häkchen drehen */
  }
  
  input[type="checkbox"]:checked::before {
    content: ''; /* Leeres Pseudo-Element für das Häkchen */
    position: absolute; /* Positioniert es relativ zur Checkbox */
    top: 5px; /* Positioniert es innerhalb der Checkbox */
    left: 8px; /* Positioniert es innerhalb der Checkbox */
    width: 2px; /* Höhe des Häkchens */
    height: 10px; /* Breite des Häkchens */
    background-color:  rgba(112, 230, 28, 1); /* Häkchen-Farbe */
  }
  .btn-submit{
    width: 200px;
  }
  

  /* --------------reserve */
@media (max-width: 1669px){}
@media (max-width: 1438px){}
@media (max-width: 1350px){
  .contact{
    position: absolute;
    top: 5348px;// +30
    top: 5378px;
    width: 1080px;
    height: 747px;
    display: flex;
    flex-direction: column;

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 32px;
      margin-left: 1010px;
  }

    .info-contact-area{
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 16px;
        width: 474px;
        height: 154px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 623px;
        margin-top: -168px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 104px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 1098px){
  .contact{
    position: absolute;
    top: 5348px;// +30
    top: 5378px;
    width: 980px;
    height: 747px;
    display: flex;
    flex-direction: column;

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 32px;
      margin-left: 910px;
  }

    .info-contact-area{
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 16px;
        width: 474px;
        height: 154px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 623px;
        margin-top: -168px;
        height: 508px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 64px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 1060px){
  .contact{
    position: absolute;
    //top: 6350px;
  
    top: 5468px;
    width: 900px;
    height: 747px;
    display: flex;
    flex-direction: column;

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 32px;
      margin-left: 840px;
  }

    .info-contact-area{
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 16px;
        width: 404px;
        height: 200px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 523px;
        margin-top: -208px;
        height: 508px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 64px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 980px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    top: 6450px;// +100px
    width: 900px;
    height: 747px;
    display: flex;
    flex-direction: column;

    .line-title{
      width: 893px;
      height: 108px;
      gap: 32px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -16px;
          width: 535px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items: center;
              width: 376px;
              height: 108px;
              font-family: Poppins;
              font-weight: 700;
              font-size: 90px;
              line-height: 108px;
              color: rgba(255, 255, 255, 1);
              gap: 10px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 32px;
      margin-left: 840px;
  }

    .info-contact-area{
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 16px;
        width: 404px;
        height: 200px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 523px;
        margin-top: -208px;
        height: 508px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 64px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 940px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    top: 6400px;// +100px
    width: 840px;
    height: 797.28px;
    display: flex;
    flex-direction: column;

    .line-title{
      width: 839px;
      height: 54px;
      gap: 32px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 535px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 376px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 90px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-left: 740px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 24px;
        width: 704px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 25px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 300px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 880px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    top: 6400px;// +50px
    width: 704px;
    height: 797.28px;
    display: flex;
    flex-direction: column;

    .line-title{
      width: 703px;
      height: 54px;
      gap: 32px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 535px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 376px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-left: 640px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 24px;
        width: 654px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 25px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 208px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 730px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    //top: 5800px;
    width: 564px;
    height: 797.28px;
    display: flex;
    flex-direction: column;

    .line-title{
      width: 563px;
      height: 54px;
      gap: 32px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 535px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 376px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-left: 500px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 24px;
        width: 524px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
       
      }
      .contact-area{
        margin-left: 25px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 120px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 590px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    //top: 5800px;
    width: 472px;
    height: 797.28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line-title{
      width: 471px;
      height: 54px;
      gap: 32px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 435px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 300px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 60px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-left: 420px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 24px;
        width: 441px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);


        h3{
          width: 404px;
          height: 38px;
          font-family: Poppins;
          font-weight: 700;
          font-size: 32px;
          line-height: 38.4px;
      }
      span{
          width: 404px;
          height: 57px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
      p{
          margin-top: 32px;
          width: 404px;
          height: 19px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
       
      }
      .contact-area{
        margin-left: 25px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 88px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 490px){
  .contact{
    position: absolute;
    top: 6350px;//        mobile
    //top: 5800px;
    width: 366px;
    height: 797.28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 0 4px;

    .line-title{
      width: 365px;
      height: 54px;
      gap: 2px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 25px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
          padding-left: 0px;
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items:start;
                  justify-content: center;
                  width: 300px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 45px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
                  margin-left: -72px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-left: 320px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 4px;
        width: 300px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);


        h3{
          width: 320px;
          height: 38px;
          font-family: Poppins;
          font-weight: 700;
          font-size: 32px;
          line-height: 38.4px;
      }
      span{
          width: 304px;
          height: 57px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
      p{
          margin-top: 20px;
          width: 304px;
          height: 19px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
       
      }
      .contact-area{
        margin-left: 5px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 48px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 388px){
  .contact{
    position: absolute;
    top: 6630px;//        mobile
    //top: 5800px;
    width: 332px;
    height: 797.28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 0 4px;

    .line-title{
      width: 331px;
      height: 54px;
      gap: 2px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 25px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
          padding-left: 0px;
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items:start;
                  justify-content: center;
                  width: 300px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 45px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
                  margin-left: -72px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-top: 180px;
      margin-left: 240px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 4px;
        width: 300px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);


        h3{
          width: 320px;
          height: 38px;
          font-family: Poppins;
          font-weight: 700;
          font-size: 32px;
          line-height: 38.4px;
      }
      span{
          width: 304px;
          height: 57px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
      p{
          margin-top: 20px;
          width: 304px;
          height: 19px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
       
      }
      .contact-area{
        margin-left: 5px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 24px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}
@media (max-width: 350px){
  .contact{
    position: absolute;
    top: 6630px;//        mobile
    //top: 5800px;
    width: 316px;
    height: 797.28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 0 4px;

    .line-title{
      width: 315px;
      height: 54px;
      gap: 2px;
      border: 2px solid rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;

      .line{
          margin-top: -0px;
          width: 25px;
          height: 0px;
          border: 4px solid rgba(151, 71, 255, 1);
          padding-left: 0px;
      }
  
          /* ----------------------------- */
          .title{
          
              h2{
                  display: flex;
                  align-items:start;
                  justify-content: center;
                  width: 300px;
                  height: 108px;
                  font-family: Poppins;
                  font-weight: 700;
                  font-size: 45px;
                  line-height: 108px;
                  color: rgba(255, 255, 255, 1);
                  gap: 10px;
                  margin-left: -72px;
              //border: 2px solid rgba(255, 255, 255, 1);
              
          }

          /* ---------------------------------- */

      }
  }

    .down-line{
      width: 24px;
      height: 24px;
      cursor: pointer;
    
      margin-top: 144px;
      margin-top: 180px;
      margin-left: 240px;
  }

    .info-contact-area{
     
      margin-top: 40px;
      height: 508px;

      .info{
        margin-left: 4px;
        width: 300px;
        height: 140px;
        gap: 24px;
        //border: 4px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);


        h3{
          width: 300px;
          height: 38px;
          font-family: Poppins;
          font-weight: 700;
          font-size: 24px;
          line-height: 38.4px;
      }
      span{
          width: 304px;
          height: 57px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
      p{
          margin-top: 20px;
          width: 304px;
          height: 19px;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.2px;
      }
       
      }
      .contact-area{
        margin-left: 5px;
        margin-top: 40px;
        height: 442px;
        gap: 32px;

            /* Style the submit button with a specific background color etc */
        input[type=submit] {
        margin-top: 40px;
        width: 195px;
        height: 49px;
        margin-left: 24px;
        &:hover{
        background: rgba(112, 230, 28, 1);
      }}
      }


    
    }
  }
}









