.footer{
    position: absolute;
    top: 6123px; 
    width: 1440px;
    width: 99.5%;
    height: 291px;
    border-top: 4px solid rgba(112, 230, 28, 1);
   //border: 4px solid rgb(235, 237, 233);
   display: flex;
   justify-content: space-around;
   align-items: center;
   //display: none;

   .logo-legal{
    width: 216px;
    height: auto;
    //margin-top: 121px;
    margin-top: 16px;
    //margin-left: 100px;
    gap: 10px;
    cursor: pointer;

   
    .logo{
        width: 216px;
        height: auto;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .legal{
        width: 98px;
        height: 32px;
        //margin-top: 45px;
        padding: 5px 0px 5px 0px;
        gap: 3px;
        opacity: 0px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        color: rgba(255, 255, 255, 1);
        margin-top: 8px;

        

        .line{
                width: 48px;
                border-style: solid;
                border-width: 1px;
                color: rgba(112, 230, 28, 1);
                margin-top: -8px;
                opacity: 0; 
                //transition: opacity 0.3s ease; 

                &:hover{
                    opacity: 1; 
       
                }

        }

       

    }

   }
   .copyR-name{
    width: auto;
    height: 28px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .copyR{
        font-size: 12px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid  rgba(255, 255, 255, 1); 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -24px 8px 0 0;
    }
   }

   .git-mail-in{
    width: 174px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

   .git{
    width: 30px;
    height: 29.26px;
    &:hover{
        scale: 1.3;
    }
   }

   .mail{
    width: 30px;
    height: 30px;

    &:hover{
        scale: 1.3;
    }
   }

   .in{
    width: 30px;
    height: 30px;

    &:hover{
        scale: 1.3;
    }

   }
  

}
.legal2{
    width: 98px;
    height: 32px;
    //margin-top: 45px;
    padding: 5px 0px 5px 0px;
    gap: 3px;
    opacity: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(255, 255, 255, 1);
    margin-top: 8px;
    display: none;

    

    .line{
            width: 48px;
            border-style: solid;
            border-width: 1px;
            color: rgba(112, 230, 28, 1);
            margin-top: -8px;
            opacity: 0; 
            //transition: opacity 0.3s ease; 

            &:hover{
                opacity: 1; 
   
            }

    }

   

}


}

/* -----------------------------responsive */
@media (max-width: 1669px) {
    .footer{
        top: 6123px;
        width: 99.9%;
        width: 99.4%;
       
    }
}
@media (max-width: 1581px) {
    .footer{
        top: 6123px;
        width: 99.9%;
        width: 99.2%;
       
    }
}
@media (max-width: 1350px) {
    .footer{
        top: 6223px;
        width: 99.9%;
        width: 99.2%;
    }
    
}
@media (max-width: 1060px) {
    .footer{
        top: 6403px;
        width: 99.1%;
    }
    
}
@media (max-width: 980px) {
    .footer{
        top: 7296px;
        width: 99.0%;
    }
    
}
@media (max-width: 799px) {
    .footer{
        top: 7296px;
        width: 98.8%;
        flex-direction: column;

        .legal{
            display: none;

        }
        .legal2{
            display: block;
            margin-top: -8px;
          
        }
        .copyR-name{
            margin-top: 40px;
        }
        .git-mail-in{
            margin-top: 8px;

        }
    }
    h3{
        font-size: 23px;
    }
 
}

@media (max-width: 779px) {
    .footer{
        top: 7296px;
      
    }

}
@media (max-width: 700px) {
    .footer{
        top: 7196px;
        width: 98.8%;
    }

}
@media (max-width: 625px) {
    .footer{
        top: 7196px;
        width: 98.4%;
    }

}
@media (max-width: 510px) {
    .footer{
        top: 7196px;
        width: 98.4%;
    }

}
@media (max-width: 470px) {
    .footer{
        top: 7196px;
        width: 98.0%;
    }
}
@media (max-width: 400px) {
    .footer{
        top: 7196px;
        width: 98.0%;
    }

}
@media (max-width: 388px) {
    .footer{
        top: 7476px;
        top: 7550px;
        width: 98.0%;
    }

}
@media (max-width: 380px) {
    .footer{
        top: 7476px;
        top: 7550px;
        width: 97.5%;
    }

}


