.my-skills1{
    position: absolute;
    height: 404px;
    width: 1339px;
    top: 1779px;
    left: 100px;
   
    display: flex;
    justify-content: space-between;
    //border: 2px solid rgba(255, 255, 255, 1);
    //display: none;
  

    .skills-icons{
        display: flex;
       flex-wrap: wrap;
        width: 664px;
        height: 404px;
        gap:40px 88px;
        //border: 2px solid rgba(255, 255, 255, 1);

        .html{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                width: 54px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
        }
       
        .css{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 52.99px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .js{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .ts{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .angular{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 55.8px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .firebase{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 43.63px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .git{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .api{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;
           // cursor: pointer;

            >img{
                
                width: 56.69px;
                height: 60px;
                margin-bottom: 8px; 
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
           
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .scrum{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .material-d{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                gap: 10px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 120px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .c-learning{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;
            position: relative;
            display: inline-block;
            .main-image {
                width: 100%; /* Setze die gewünschte Breite für das Hauptbild */
                height: auto; /* Erhält das Seitenverhältnis */
              }
              .overlay-image {
                position: absolute;
                top: -40px;
                left: 0;
                width: auto; /* Das Overlay-Bild soll genauso breit sein wie das Hauptbild */
                height: 100%;
                opacity: 0; /* Das Overlay ist im normalen Zustand unsichtbar */
                transition: opacity 0.3s ease; /* Sanfter Übergang */
              }
            
              &:hover .overlay-image {
                opacity: 1; /* Das Overlay-Bild wird sichtbar, wenn der Hover aktiviert ist */
              }
            
            

            >div{
                width: 88px;
                height: 120px;
                padding: 12px 0px 0px 0px;
               
            }
        }
    }
    .skills-icons2{
        display: flex;
       flex-wrap: wrap;
        width: 664px;
        height: 404px;
        gap:40px 88px;
        //border: 2px solid rgba(255, 255, 255, 1);
        display: none;

        .html{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                width: 54px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
        }
       
        .css{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 52.99px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .js{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .ts{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .angular{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 55.8px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .firebase{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 43.63px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .git{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .api{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;
           // cursor: pointer;

            >img{
                
                width: 56.69px;
                height: 60px;
                margin-bottom: 8px; 
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
           
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .scrum{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 101px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .material-d{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;

            >img{
                
                width: 60px;
                height: 60px;
                gap: 10px;
                margin-bottom: 8px;
                transition: transform 0.3s ease; /* Transition für sanfte Bewegung */
            }
            &:hover > img {
                animation: wobble 0.8s ease-in-out infinite; /* Animation bei Hover */
              }
            >div{
                width: 88px;
                height: 120px;
                padding: 12px 0px 0px 0px;
                gap: 10px;
                opacity: 0px;
            }
        }
        .c-learning{
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;
            position: relative;
            display: inline-block;
            .main-image {
                width: 100%; /* Setze die gewünschte Breite für das Hauptbild */
                height: auto; /* Erhält das Seitenverhältnis */
              }
              .overlay-image {
                position: absolute;
                top: -40px;
                left: 0;
                width: auto; /* Das Overlay-Bild soll genauso breit sein wie das Hauptbild */
                height: 100%;
                opacity: 0; /* Das Overlay ist im normalen Zustand unsichtbar */
                transition: opacity 0.3s ease; /* Sanfter Übergang */
              }
            
              &:hover .overlay-image {
                opacity: 1; /* Das Overlay-Bild wird sichtbar, wenn der Hover aktiviert ist */
              }
            
            

            >div{
                width: 88px;
                height: 120px;
                padding: 12px 0px 0px 0px;
               
            }
        }
    }
    .my-skills{
        //position: absolute;
        width: 571px;
        height: 400px;
        //top: 1781px;
        //left: 869px;
        display: flex;
        flex-direction: column;
        //border: 2px solid rgba(255, 255, 255, 1);
     

        .skills-line{
           
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                width: 395px;
                height: 108px;
                font-family: Poppins;
                font-weight: 700px;
                font-size: 90px;
                line-height: 108px;
                color: white;
               margin-left: 72px;
            }

            .line{
                width: 68px;
                height: 0px;
                border-style: solid;
                color: rgba(151, 71, 255, 1);
               
            }
        }

        .p1{
            width: 471px;
            height: 38px;
            font-family: Poppins;
            font-weight: 400px;
            font-size: 16px;
            line-height: 19.2px;
            color: white;
        
        }
        h3{
            width: 410px;
            height: 38px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
            color: white;
           margin-left: 52px;

           span{
            font-weight: 900;
            color: rgba(151, 71, 255, 1);

           }
        }
        .p2{
            width: 410px;
            height: 38px;
            font-family: Poppins;
            font-weight: 400px;
            font-size: 16px;
            line-height: 19.2px;
            color: white;
        
        }
       
        .btn-talk{
            width: 200px;
            height: 58px;
            justify-content: center;
            align-items: center;
            margin-left: 210px;
            margin-top: 32px;
            border-radius: 10px;
            padding: 15px 30px 15px 30px;
            gap: 10px;
            cursor: pointer;
          
            color: white;
            font-size: 23px;
            background: rgba(112, 230, 28, 1);
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .btn-touch{
                font-weight: 400;
                font-size: 16px;

            }
        
            &:hover{
                
                background: rgba(151, 71, 255, 1);
                scale: 1.2;
        
            }
        
        }
        /* Keyframes für die Wipp-Animation */
@keyframes wobble {
    0% {
      transform: translateY(0); /* Startposition */
    }
    50% {
      transform: translateY(-10px); /* Nach oben bewegen */
    }
    100% {
      transform: translateY(0); /* Zurück zur Startposition */
    }
  }       
    }  
}




/* -------------------------------------responsive */

@media (max-width: 1669px){
    .my-skills1{
       
        width: 1335px;
    }

}
@media (max-width: 1438px){
    .my-skills1{
        width: 1225px;
        .my-skills{
            padding-right: 0px;
        }

    }
}
@media (max-width: 1350px){
    .my-skills1{
        width: 980px;
        height: 544px;
        top: 1779px;
        top: 1739px;//-40px


        .my-skills{
            padding-right: 0px;
            .skills-line{

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 1098px){
    .my-skills1{
        width: 880px;
        height: 544px;
        top: 1739px;//-40px


        .my-skills{
            width: 395px;
            height: 400px;
            padding-right: 24px;

          
            .skills-line{
                h2{
                    width: 395px;
                   
                    font-size: 60px;
                    
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 1060px){
    .my-skills1{
        width: 800px;
        height: 811px;
        top: 1559px;
      


        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 390px;
             height: auto;
             gap:40px 88px;
             margin: 20px 0;
            
        }


        .my-skills{
            width: 800px;
            height: 143px;
            padding-left: 200px;
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
               
                //padding-left: 420px;
               }
               h3{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 52px
               }
               .p2{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 210px;
                margin-top: 32px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
               
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

               
               }

          
            .skills-line{
              
                h2{
                    width: 350px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 980px){
    .my-skills1{
        width: 800px;
        height: 811px;
        top: 1559px;//gegebene wert

      


        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 390px;
             height: auto;
             gap:40px 88px;
             margin: 20px 0;
            
        }


        .my-skills{
            width: 800px;
            height: 143px;
            padding-left: 200px;
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
               
                //padding-left: 420px;
               }
               h3{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 52px
               }
               .p2{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 140px;
                margin-top: 0px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
               
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

               }

          
            .skills-line{
              
                h2{
                    width: 350px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 940px){
    .my-skills1{
        width: 740px;
        height: 811px;
       
      


        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 390px;
             height: auto;
             gap:40px 88px;
             margin: 20px 0;
            
        }


        .my-skills{
            width: 800px;
            height: 143px;
            padding-left: 200px;
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
               
                //padding-left: 420px;
               }
               h3{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 52px
               }
               .p2{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 140px;
                margin-top: 0px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
               
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

               }

          
            .skills-line{
              
                h2{
                    width: 350px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 880px){
    .my-skills1{
        width: 600px;
        height: 811px;
        
      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 390px;
             height: auto;
             gap:40px 88px;
             margin: 20px 0;
          
        }


        .my-skills{
            width: 600px;
            height: 143px;
            padding-left: 100px;
           
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
             
                //padding-left: 420px;
               }
               h3{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 52px
               }
               .p2{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 140px;
                margin-top: 0px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
               
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

               }

          
            .skills-line{
              
                h2{
                    width: 350px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 730px){
    .my-skills1{
        width: 460px;
        height: 811px;
        top: 1659px;
        top: 1559px;//gegebene wert
      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 390px;
             height: auto;
             gap:40px 88px;
             margin: 20px 0;
           
        }


        .my-skills{
            width: 390px;
            height: 143px;
            padding-left: 40px;
           
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
              
                padding-left: 48px;
               }
               h3{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 52px
               }
               .p2{
                width: 410px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 132px;
                margin-top: 0px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
               
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

               }

          
            .skills-line{
              
                h2{
                    width: 300px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 590px){
    .my-skills1{
        width: 370px;
        height: 811px;
        top: 1659px;
        top: 1559px;//gegebene wert
      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 365px;
             height: auto;
             gap:40px 80px;
             margin: 20px 0;
       
        }


        .my-skills{
            width: 340px;
            height: 143px;
            padding-left: 0px;
           
           


            .p1{
                margin-top: -72px;
                width: 350px;
                height: 38px;
              
                padding-left: 8px;
               
               }
               .p2{
                width: 30px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
           
            
            }
               h3{
                width: 370px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: white;
                margin-left: 5px
               }
               .p2{
                margin-top: -8px;
                width: 360px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 154px;
                height: 48px;
                justify-content: center;
                align-items: center;
                margin-left: 120px;
                margin-top: 2px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
                font-size: 23px;
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
               }

          
            .skills-line{
              
                h2{
                    width: 300px;
                    height: 143px;
                    font-size: 60px;  
                    //padding-left: 280px;
                    //margin-left: 140px;
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 490px){
    .my-skills1{
        width: 360px;
        height: 811px;
        
        top: 1559px; //gegebene wert
        left: 20px;
      

      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 354px;
             height: auto;
             gap: 40px 75px;
             margin: 20px 0;
             //border: 2px solid rgba(255, 255, 255, 1);
             .html{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .css{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .js{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .ts{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .angular{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .firebase{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .git{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .api{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .scrum{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .material-d{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }

             .c-learning{
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: center;
                align-items: center;
                position: relative;
                display: inline-block;
                >img{
                    width: 84px;
                    height: 98px;
                }
                .main-image {
                    width: 100%; /* Setze die gewünschte Breite für das Hauptbild */
                    height: auto; /* Erhält das Seitenverhältnis */
                  }
                  .overlay-image {
                    position: absolute;
                    top: -40px;
                    left: 0;
                    width: auto; /* Das Overlay-Bild soll genauso breit sein wie das Hauptbild */
                    height: 100%;
                    opacity: 0; 
                    transition: opacity 0.3s ease; /* Sanfter Übergang */
                    
                  }
                
                  &:hover .overlay-image {
                    opacity: 1; /* Das Overlay-Bild wird sichtbar, wenn der Hover aktiviert ist */
                  }
                
                
    
                >div{
                    width: 88px;
                    height: 120px;
                    padding: 12px 0px 0px 0px;
                   
                }
            }
        }


        .my-skills{
            width: 340px;
            height: 143px;
           

          
           
            .p1{
                margin-top: -72px;
                width: 344px;
                height: 38px;
                padding-left: 8px;
               
               }
               
               h3{
                width: 350px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 24px;
                line-height: 38.4px;
                color: white;
                margin-left: 5px
               }
               .p2{
                margin-top: -8px;
                width: 350px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 158px;
                height: 49px;
                justify-content: center;
                align-items: center;
                margin-left: 96px;
                margin-top: 32px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
                font-size: 23px;
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
               }

          
            .skills-line{
              
                h2{
                    width: 180px;
                    height: 143px;
                    font-size: 45px;  
                    padding-left: 90px;
                    //margin-left: 140px;
                  
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 388px){
    .my-skills1{
        width: 322px;
        height: 811px;
       
        top: 1559px; //gegebene wert
        left: 10px;
      

      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 250px;
             height: auto;
             gap: 40px 75px;
             margin: 40px 24px;
             //border: 2px solid rgba(255, 255, 255, 1);
             .html{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .css{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .js{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .ts{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .angular{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .firebase{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .git{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .api{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .scrum{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .material-d{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }

             .c-learning{
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: center;
                align-items: center;
                position: relative;
                display: inline-block;
                >img{
                    width: 84px;
                    height: 98px;
                }
                .main-image {
                    width: 100%; /* Setze die gewünschte Breite für das Hauptbild */
                    height: auto; /* Erhält das Seitenverhältnis */
                  }
                  .overlay-image {
                    position: absolute;
                    top: -40px;
                    left: 0;
                    width: auto; /* Das Overlay-Bild soll genauso breit sein wie das Hauptbild */
                    height: 100%;
                    opacity: 0; 
                    transition: opacity 0.3s ease; /* Sanfter Übergang */
                    
                  }
                
                  &:hover .overlay-image {
                    opacity: 1; /* Das Overlay-Bild wird sichtbar, wenn der Hover aktiviert ist */
                  }
                
                
    
                >div{
                    width: 88px;
                    height: 120px;
                    padding: 12px 0px 0px 0px;
                   
                }
            }
        }


        .my-skills{
            width: 340px;
            height: 143px;
           
           

          
           
            .p1{
                margin-top: -72px;
                width: 260px;
                height: 38px;
               
                padding-left: 8px;
               
               }
               
               h3{
                width: 270px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 24px;
                line-height: 38.4px;
                color: white;
                margin-left: 5px;
               
               }
               .p2{
                margin-top: -8px;
                width: 280px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 158px;
                height: 49px;
                justify-content: center;
                align-items: center;
                margin-left: 72px;
                margin-top: 32px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
                font-size: 23px;
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
               }

          
            .skills-line{
              
                h2{
                    width: 180px;
                    height: 143px;
                    font-size: 45px;  
                    padding-left: 20px;
                    //margin-left: 140px;
           
                }

                .line{
                    display: none;
                }
            }
        }

    }
}
@media (max-width: 350px){
    .my-skills1{
        width: 302px;
        height: 811px;
        top: 1559px; //gegebene wert
        left: 10px;
      

      
        .skills-icons{
            display: none;
        }
        .skills-icons2{
            display: block;
            display: flex;
            flex-wrap: wrap;
             width: 250px;
             height: auto;
             gap: 40px 75px;
             margin: 40px 24px;
             //border: 2px solid rgba(255, 255, 255, 1);
             .html{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .css{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .js{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .ts{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .angular{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .firebase{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .git{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .api{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .scrum{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }
             .material-d{
                >img{
                    width: 48px;
                    height: 48px;
                }
               
             }

             .c-learning{
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: center;
                align-items: center;
                position: relative;
                display: inline-block;
                >img{
                    width: 84px;
                    height: 98px;
                }
                .main-image {
                    width: 100%; /* Setze die gewünschte Breite für das Hauptbild */
                    height: auto; /* Erhält das Seitenverhältnis */
                  }
                  .overlay-image {
                    position: absolute;
                    top: -40px;
                    left: 0;
                    width: auto; /* Das Overlay-Bild soll genauso breit sein wie das Hauptbild */
                    height: 100%;
                    opacity: 0; 
                    transition: opacity 0.3s ease; /* Sanfter Übergang */
                    
                  }
                
                  &:hover .overlay-image {
                    opacity: 1; /* Das Overlay-Bild wird sichtbar, wenn der Hover aktiviert ist */
                  }
                
                
    
                >div{
                    width: 88px;
                    height: 120px;
                    padding: 12px 0px 0px 0px;
                   
                }
            }
        }


        .my-skills{
            width: 280px;
            height: 143px;
           
           
           

          
           
            .p1{
                margin-top: -72px;
                width: 250px;
                height: 38px;
             
               
               
               }
               
               h3{
                width: 270px;
                height: 38px;
                font-family: Poppins;
                font-weight: 700;
                font-size: 24px;
                line-height: 38.4px;
                color: white;
                margin-left: 5px;
             
               }
               .p2{
                margin-top: -8px;
                width: 280px;
                height: 38px;
                font-family: Poppins;
                font-weight: 400px;
                font-size: 16px;
                line-height: 19.2px;
                color: white;
               }
               .btn-talk{
                width: 158px;
                height: 49px;
                justify-content: center;
                align-items: center;
                margin-left: 72px;
                margin-top: 32px;
                border-radius: 10px;
                padding: 15px 30px 15px 30px;
                gap: 10px;
                cursor: pointer;
          
                color: white;
                font-size: 23px;
                background: rgba(112, 230, 28, 1);
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
               }

          
            .skills-line{
              
                h2{
                    width: 180px;
                    height: 143px;
                    font-size: 45px;  
                    padding-left: 20px;
                    //margin-left: 140px;
               
                }

                .line{
                    display: none;
                }
            }
        }

    }
}


