<div class="dabubble">
  <img src="./assets/img/dabubble.png" alt="" />
  <div class="dabubble-info">
    <h3>DA Bubble</h3>
    <h4>Angular | TypeScript | Firebase</h4>
    <p>
      This App is a Slack Clone App. It revolutionizes team communication and
      collabaration with its intuitive interface, reat-time messaging, and
      robust channel organization.
    </p>
    <div class="buttons">
      <button (click)="goToElpolloloco()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
</div>
