.dabubble{
    //margin: 80px 0 0 0px;
     width: 1168px;
     height: 340px;
     gap: 35px;
     display: flex;
     //border: 2px solid rgba(255, 255, 255, 1);
     
 
     >img{
         width: 620px;
         height: 340px;
   
     }
 
     .dabubble-info{
 
         display: flex;
         flex-direction: column;
         margin-top: 120px;
 
         h3{
             width: 196px;
             height: 42.82px;
             font-family: Poppins;
             font-weight: 700;
             font-size: 32px;
             line-height: 38.4px;
             color: rgba(151, 71, 255, 1);
         }
 
         h4{
             width: 488px;
             height: 28px;
             font-family: Poppins;
             font-weight: 400;
             font-size: 23px;
             line-height: 27.6px;
             color: rgba(112, 230, 28, 1);
         }
 
         p{
             width: 513px;
             height: 57px;
             font-family: Poppins;
             font-weight: 400;
             font-size: 16px;
             line-height: 19.2px;
             color: rgba(255, 255, 255, 1);
         } 
 
         .buttons{
             width: 375px;
             height: 65.36px;
             gap: 86px;
             display: flex;
             //align-items: center;
 
             .btn-talk1{
                 width: 152px;
                 height: 58px;
                 justify-content: center;
                 align-items: center;
                 border-radius: 10px;
                 padding: 15px 30px 15px 30px;
                 gap: 10px;
                 color: white;
                 font-size: 23px;
                 background: rgba(151, 71, 255, 1);
                 box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
             
                 &:hover{
                     background: rgba(112, 230, 28, 1);
                   
                 }
             }
 
             .btn-talk2{
                 width: 137px;
                 height: 58px;
                 justify-content: center;
                 align-items: center;
                 border-radius: 10px;
                 padding: 15px 30px 15px 30px;
                 gap: 10px;
                 color: white;
                 font-size: 23px;
                 border-color:  rgba(112, 230, 28, 1);
                 background: rgba(20, 29, 47, 1);
                 box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
             
                 &:hover{
                     background: rgba(112, 230, 28, 1);
                    
                 }
             }
 
 
         }
     }
 }
 

 /* ----------------------------responsive */

@media (max-width: 1669px){}
@media (max-width: 1438px){}
@media (max-width: 1350px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 980px;
       
        
         
     
         >img{
            width: 560px;
            height: 330px;
            margin-top: 8px;
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 96px;
             width: 315px;
     
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
            }
            }
        }
}
@media (max-width: 1098px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 880px;//
       
        
         
     
         >img{
            width: 500px;//
            height: 270px;//
            margin-top: 20px;
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 96px;
             width: 315px;
             margin-left: -40px;//
     
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
            }
            }
        }

}
@media (max-width: 1060px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 800px;//
       
        
         
     
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: 40px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 96px;
             width: 315px;
             margin-left: -80px;//
     
             h3{
                width: 196px;
            }
            h4{
                width: 308px;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
            }
            }
        }

}
@media (max-width: 980px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 800px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 308px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            }
        }

}
@media (max-width: 940px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 490px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 308px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            }
        }

}
@media (max-width: 880px){}
@media (max-width: 730px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 460px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 460px;//
            height: 230px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 308px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 370px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            }
        }

}
@media (max-width: 590px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 370px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 342px;//
            height: 213px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 308px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 360px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            .buttons{
                width: 339px;
                height: 65.36px;
                gap: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            }
        }

}

@media (max-width: 490px){}
@media (max-width: 388px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 322px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 342px;//
            height: 213px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 315px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 308px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 300px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            .buttons{
                width: 339px;
                height: 65.36px;
                gap: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            }
        }

}
@media (max-width: 350px){
    .dabubble{
        margin: 0px 0 0 0px;
        width: 302px;
        height: 552.99px;//
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
         
         >img{
            width: 321px;//
            height: 213px;//
            margin-top: 24px;//
       
         }
     
         .dabubble-info{
     
             display: flex;
             flex-direction: column;
             margin-top: 0px;
             width: 300px;
             margin-left: -0px;//
             align-items: center;
     
             h3{
                width: 196px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h4{
                width: 300px;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            p{
               width: 290px;
               margin-bottom: 32px;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify; display: flex;
               align-items: center;
               justify-content: center;
               text-align: justify;
            }
            .buttons{
                width: 319px;
                height: 65.36px;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            }
        }

}

 
 
 